.imgBackg { 
    background: url('https://sm.ign.com/ign_es/screenshot/default/maxresdefault_ee6u.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}
body {width: 1000px;height: 550px;
    font-family: Arial, Helvetica, sans-serif;
}

.columnV {
    float: left;
    width: 100%;
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}
.title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 20px;
    margin-bottom: 16px;
    margin-top: 12px; 
    margin-left: 15px;
    margin-right: 15px;
}
.titleLineLeft{
    height: 1px;
    width: 100%;
    background-color: black;
    flex: 1 1 auto;
    margin-right: 16px;
}
.titleText{
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
}
.titleLineRight{
    height: 1px;
    width: 100%;
    background-color: black;
    flex: 1 1 auto;
    margin-left: 16px;
}
.boxImg {
    width: 300px;
    position: relative;
    margin: 3px auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}
.image {
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}
.elixirCostBox {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid rgb(189, 158, 89);
    box-shadow: rgba(20, 11, 36, 0.8) 0px 0px 6px 0px, black 0px 0px 0px 2px inset;
    background-image: linear-gradient(138deg, rgb(160, 223, 246) 18%, rgba(41, 150, 164, 0) 35%, rgba(41, 150, 164, 0) 67%, rgb(160, 223, 246) 82%), radial-gradient(circle at 50% 50%, rgb(47, 79, 143), rgb(41, 70, 129) 44%, rgb(9, 127, 149) 73%, rgb(45, 165, 183) 76%);
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
    margin-right: 16px;
}
.elixirCost {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
}
.cardName {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 0 1 auto;
    padding-right: 4px;
    width: 100%;
    align-self: flex-start;
    text-shadow: rgb(0, 0, 0) 0px 1px 3px;
    letter-spacing: 0.25px;
}
.boxOutQty {
    border: 1px solid rgba(189, 158, 89, 0.6);
    background: linear-gradient(313.24deg, rgb(56, 43, 33) 0%, rgb(46, 33, 33) 100%);
    box-shadow: rgba(20, 11, 36, 0.6) 0px 0px 4px 0px;
    border-radius: 3px;
    overflow: hidden;
    flex: 0 0 auto;
}
.boxInQty {
    border: 1px solid rgb(189, 158, 89);
    background: linear-gradient(313.24deg, rgb(56, 43, 33) 0%, rgb(46, 33, 33) 100%);
    margin: 2px;
    padding: 0px 4px;
    border-radius: 3px;
    box-sizing: border-box;
}
.textQtyX {
    margin-top: 2px;
    margin-right: 5px;
    font-size: 8px;
    font-weight: 700;
    display: inline-block;
    line-height: 1px;
    vertical-align: middle;
}
.textQty {
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    line-height: 1px;
    vertical-align: middle;
    margin-left: -3px;
}
.regions {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 25%));
}
.regionCentered {
    text-align: center;
    
}
.region {
    display: inline-block;
    position: relative;
    margin-right: 4px;
    background-color: rgb(51, 38, 33);
    border-radius: 15px;
}
.imgRegion {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.regionQty {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(51, 38, 33);
    box-shadow: rgba(20, 11, 36, 0.5) 0px 2px 4px 0px;
    border: 1px solid rgb(189, 158, 89);
    border-radius: 100%;
    font-weight: 700;
    text-align: center;
    line-height: 15px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    position: absolute;
    right: -4px;
    bottom: -10px;
    width: 20px;
    height: 20px;
    font-size: 10px;
}
